<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>表格2</title>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>

<h1>各个国家从2000年到2017年的营养不良发生率变化</h1>
<form method="POST" action="/MG">
    <select name="the_region_selected3">
        {% for item in the_select_region3 %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
<p><input value='show' type='SUBMIT'></p>
</form>

{{ the_plot_all|safe }}
{{ the_res|safe }}

</body>
</html>